<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        @if (Articles is not null)
        {
            foreach (var item in Articles.OrderByDescending(x => DateTime.Parse(x.Metadata.Date)))
            {
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="@item.Thumbnail" alt="@item.Title">
                        <div class="media-body">
                            <h3 class="title mb-1"><NavLink href="@item.Link">@item.Title</NavLink></h3>
                            <div class="meta mb-1"><span class="date">Published @item.Metadata.Date</span></div>
                            <div class="intro">@item.Snippet</div>
                            <NavLink class="more-link" href="@item.Link">Read more &rarr;</NavLink>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
